@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@477&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 *{  
    /* max-width: 1340px; */
     margin: 0 auto;
     background-color: #000000;
}  
 body{
    font-family: Inter;
 }
header{
    max-width: 1340px;
    height: 720px;
    /* border: 2px solid red; */
    /* background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%); */
    background: linear-gradient(180.00deg, rgb(32, 31, 31),rgba(144, 142, 142, 0) 100%);
    
}
.color-1{
    color: #E6533C;
}
.color-2{
    color: #FFFFFF;
}
.color-3{
      color: #FFFFFF80;
}
.display-flex{
    display: flex;
}

 .brand{
    font-weight: 800;
    font-family: Inter;
    font-size:43px;
    background: none;
    margin-left:105px;
    margin-top: 10px;
    
} 
i{
    background: none;
}
.nav-item{
    list-style: none;
    margin-right: 40px;
    background: none;
    
   
}
.nav-links{
    background: none;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 38px;
     padding: 10px; 
    /* margin-right: 10px; */
    margin-left: 450px;
    margin-top: 30px;
    margin-right: 90px;
    
    
   
}
#nav-1{
    background-color: #E6533C;
    border-radius: 40px;
    padding: 8px 20px 8px 22px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500px;
    font-size: 25px;
    background: none;
    
}

 .icon1{
    font-size: 40px;
  
    align-items: center;
    color: #e4e3e3;
    margin-right: 35px;
     display: none; 
     background: none;
    
} 
.navbar{
    justify-content: space-between;
    display: flex;
    align-items: center;
   margin-top: 40px;
   background: none;
    /* margin-top: 40px; */
}
.banner-section{
    background: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
}
.banner-content{
    background: none;
    /* border: 2px solid white; */
     /* margin-top: 40px;  */
     margin-bottom: 350px;
}
.section-tittle{
    font-weight: 900;
    font-family: Inter;
    color: #FFFFFF;
    font-size: 85px;
    background: none;
    margin-bottom: 30px;
    
}

.section-dicription{
    background: none;
   margin-top: 10px;
   margin-bottom: 16px;
   font-size: 22px;
}
b{
    background: none;
}

#mid{
    font-family:"Dancing script";
    font-weight: 300;
    font-size: 80px;
    background: none;
   
}
.btn-primary{
    border-radius: 35px;
    background-color: #E6533C;
    padding: 16px 55px;
    color: white;
    border: none;
    margin-top: 10px;
    font-size: 22px;
    margin-bottom: 30px;
}
.btn-primary1{
    border-radius: 35px;
    border: 2px solid rgb(232, 232, 232);
    padding: 16px 55px;
    color: white;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 30px;
}

.banner-image{
    background: none;
    /* border: 2px solid #FFFFFF; */
    background-image: url('../images/Images\ 2.png');
    background-size:cover ;
    width: 380px;
    height: 640px;
    /* border: 0.00001px solid rgb(53, 52, 52); */
    /* margin-top: 10px; */
     margin-bottom:100%;
     margin-right: 30px;
   
}

.part{
    width:160px;
    height: 80px;
    /* border: 2px solid white; */
    background-color: #6d676780;
     margin-top: 20px;  
   margin-left: 250px;
   padding-left: 8px;
   /* margin-bottom: 10px; */
   border-radius: 10px;
   padding:8px 14px;
}
.part h2{
    color: #ffffff;
    font-family: Inter;
    font-size: 50px;
    background: none;
    /* padding-left: 10px; */
    

}
.part p{
    color: #FFFFFF80;
    font-family: Inter;
    font-size: 16px;
    background:none;
}

.part-1{
    width: 180px;
    height: 80px;
    /* border: 2px solid white; */
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: none;
    margin-top: 200px;
    /* margin-right:790px; */
    background-color: #6e696980;
    
    border-radius: 10px;
    padding: 8px 14px;
   margin-right: 300px;
   
    
}
 .circle1{
    width: 44px;
    height: 40px;
   
   background-color:#E6533C;
    border-radius: 50% 50% 50% 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 20px;
    position: relative;
  
} 
/* .circle1-btn{
    width: 15px;
    height: 15px;
    transform: rotate(90.00deg);
    background-color: #ffffff;
} */
.circle{
   
    width: 150px;
    height: 80px;
    background: none;
    padding: 5px;
    padding-left: 8px;
}
 .circle-h{
    color: #ffffff;
    font-family: Inter;
    font-size: 40px;
    margin-top: 5px;
    background: none;
}
 .circle-p{
    color: #FFFFFF80;
    font-family: Inter;
    font-size: 20px;
    background: none;
}
 .change-habit{
    max-width: 1200px;
    height: 530px;
   
    margin-top: 80px;
}
 .habit{
    max-width: 620px;
    height: 120px;
  
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    
} 
.habit h1{
    color: #FFFFFF;
    font-size: 50px;


}
.habit p{
    margin-top: 10px;
    font-size: 22px;
    align-items: center;
    font-family: Inter;
}
#down{
    margin-left: 110px;
}
.habit-image{
    max-width: 1190px;
    height: 350px;
    
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-between;
   
}
.habit-image1{
   
    width: 270px;
    height: 350px;
}
.habit-image1 img{
    width: 260px;
    height: 240px;
    border-radius: 50% 50% 50% 50%;
}
.habit-image1 h2{
    color: #FFFFFF;
    font-size: 20px;
    font-family: Inter;
    font-weight: 600;
    margin-left: 80px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.habit-image1 p1{
    color: #FFFFFF80;
    font-size: 18px;
    margin-top: 12px;
}
#low{
    margin-left: 49px;
}
.habit-image2{
   
    width: 270px;
    height: 350px;
}
.habit-image2 img{
    width: 260px;
    height: 240px;
    border-radius: 50% 50% 50% 50%;
}
.habit-image2 h2{
    color: #FFFFFF;
    font-size: 20px;
    font-family: Inter;
    font-weight: 600;
    margin-left: 115px;
    margin-top: 20px;
    margin-bottom: 15px;
    
}
.habit-image2 p1{
    color: #FFFFFF80;
    font-size: 18px;
    margin-top: 12px;
}
#low{
    margin-left: 49px;
}
.habit-image3{
  
    width: 270px;
    height: 350px;
}
.habit-image3 img{
    width: 260px;
    height: 240px;
    border-radius: 50% 50% 50% 50%;
}
.habit-image3 h2{
    color: #FFFFFF;
    font-size: 20px;
    font-family: Inter;
    font-weight: 600;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.habit-image3 p1{
    color: #FFFFFF80;
    font-size: 18px;
    margin-top: 12px;
}
#low{
    margin-left: 49px;
}
.habit-image4{
   
    width: 270px;
    height: 350px;
}
.habit-image4 img{
    width: 260px;
    height: 240px;
    border-radius: 50% 50% 50% 50%;
}
.habit-image4 h2{
    color: #FFFFFF;
    font-size: 20px;
    font-family: Inter;
    font-weight: 600;
    margin-left: 80px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.habit-image4 p1{
    color: #FFFFFF80;
    font-size: 18px;
    margin-top: 12px;
}
#low{
    margin-left: 49px;
} 
 .run-extra{
    max-width: 1180px;
    height: 370px;
   
    background-color: #222222;
    border-radius: 16px;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.run-content{
    width: 500px;
    height: 370px;
    
    background: none;
   margin-left: 20px;
}
.run-content h1{
    color: #FFFFFF;
    font-size: 50px;
    font-family: Inter;
    background: none ;
    margin: 20px;
    margin-top: 40px;
    margin-left: 30px;

}
.run-content p{
    background: none;
    font-size: 22px;
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.btn-1{
    margin-left: 30px;
    padding: 16px 72px;
    margin-top: 15px;
}
.run-image img{
    width: 420px;
    height: 330px;
    border-radius: 18px;
  
} 
.run-image{
    background: none;
   margin-right: 25px;
   margin-top: 6px;
}


@media screen and (max-width:576px) {
    header{
        max-width: 576px;
        height: 1130px;
    }
    .nav-links{
        display: none;
    }
    .brand{
        margin: 0;
       margin-left: 40px;
        font-size: 50px;
    }
    .navbar, .banner-section{
        max-width: 576px;
    }
     .icon1{
        display: flex;
    }  
    .banner-section{
        flex-direction: column;
    }
    .section-tittle{
        font-size: 55px;
        font-weight: 700;
        margin-top: 50px;
        /* margin-left: 20px; */
    }
    .btn-primary, .btn-primary1{
        
        /* font-size: 20px; */
        max-width: 240px;
        font-size: 18px;
        border-radius: 45px;
        
     }
     .banner-image{
        margin-bottom: 900px;
       height: 580px;
     }
      .part{
       margin-bottom: 40px;
     }
     .part1{
        margin-top: 30px;
     } 
     .banner-content{
        margin-bottom: 0px;
     }
     .circle1{
        display: flex;
     }
     .change-habit{
        max-width: 576px;
        height: 1650px;
        margin-top: 10px;
     }
     .habit-image{
      display: grid;
      grid-template-columns: repeat(1,1fr);
      gap: 14px;
      }
      .run-extra{
        max-width: 576px;
        height: 750px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .run-content{
        max-width: 576px;
      }
      .btn-1{
       padding: 16px 80px ;
      
      }
      .run-image{
        margin-left: 20px;
      }
      .run-image img{
        width: 440px;
        height: 300px;
      }
 }