@import url('https://fonts.cdnfonts.com/css/miama');
 *{  
     max-width: 1340px; 
     margin: 0 auto;
     background-color: #000000;
}  
 body{
    font-family: sans-serif;
 }
header{
    max-width: 100%;
    height: 720px;
    background: linear-gradient(180.00deg, rgb(32, 31, 31),rgba(144, 142, 142, 0) 100%);
  
}
.color-1{
    color: #E6533C;
}
.color-2{
    color: #FFFFFF;
}
.color-3{
      color: #FFFFFF80;
}
.display-flex{
    display: flex;
}

 .brand{
    font-weight: 800;
    font-family:  sans-serif;
    font-size: 30px;
    background: none;
    margin-left:80px;
    margin-top: 20px;
    
} 
i{
    background: none;
}
.nav-item{
    list-style: none;
    margin-right: 40px;
    background: none;
    
   
}
.nav-links{
    background: none;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 38px;
     padding: 10px; 
    /* margin-right: 10px; */
    margin-left: 450px;
    margin-top: 28px;
    margin-right: 90px;
   font-weight: 400;
    
   
}
#nav-1{
    background-color: #E6533C;
    border-radius: 40px;
    padding: 8px 20px 8px 22px;
}
.nav-link{
    text-decoration: none;
    font-weight: 400px;
    font-size: 19px;
    background: none;
    
}

 .icon1{
    font-size: 40px;
  
    align-items: center;
    color: #e4e3e3;
    margin-right: 35px;
     display: none; 
     background: none;
    
} 
.navbar{
    justify-content: space-between;
    display: flex;
    align-items: center;
  
   background: none;
    
}
.banner-section{
    background: none;
    
    
   max-width: 100%;
   height: 700px;
}
.banner-section-world{
    
    max-width: 95%;
    height: 680px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: none;
}
.banner-content{
    background: none;
    border: 2px solid transparent; */
     /* margin-top: 40px;  */
     margin-bottom: 350px;
     width: 48%;
     height: 650px;
     padding-left: 5px;
   
}
.section-tittle{
    font-weight: 800;
    font-family: sans-serif;
    color: #FFFFFF;
    font-size: 65px;
    background: none;
    margin-bottom: 50px;
    line-height: 68px;
    margin-top: 110px;
}

.section-dicription{
    background: none;
   margin-top: 10px;
   margin-bottom: 40px;
   font-size: 20px;
   font-family: sans-serif;
   font-weight: 400;
}
b{
    background: none;
}

#mid{
    font-family:'Miama', sans-serif;
    font-weight: 400;
    font-size: 100px;
    background: none;
   
}
.btn-primary{
    border-radius: 35px;
    background-color: #E6533C;
    width: 40%;
    height: 55px;
    color: white;
    border: none;
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 30px;
}
.btn-primary1{
    border-radius: 35px;
    border: 1.5px solid rgb(232, 232, 232);
   
    width: 40%;
    height: 55px;
    color: white;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 30px;
}

.banner-image{
    border: none;
     width: 80%;
     height: 660px; 
      background: none;
      background-image: url('../images/Images 2.png');
     background-size:cover;
     background-repeat: no-repeat;
      
      margin-top: 1px;
      border: 2px solid transparent;
}
.part-new1{
    max-width: 50%;
   right: 0px;
    margin-top: 150px;
    background: none;
     margin-left: 200px;
    right: 5px;
}
.part{
    width:80%;
    height: 80px;
   
    background-color: #58575780;
    
   padding-left: 8px;
   /* margin-bottom: 10px; */
   border-radius: 10px;
   padding:8px 16px;
   backdrop-filter: blur(3px);
  bottom: 20px;
   border: 1px solid rgba(255, 255, 255, 0.1); 
}
.part h2{
    color: #ffffff;
    font-family: sans-serif;
    font-size: 40px;
    background: none;
    font-weight: 900;
    /* padding-left: 10px; */
    

}
.part p{
    color: #FFFFFF80;
    font-family: sans-serif;
    font-size: 14px;
    background:none;
    font-weight: 400;
}

.part-1{
    width: 170px;
    height: 80px;
     border: 1px solid rgba(255, 255, 255, 0.1); 
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: none;
     margin-top: 210px; 
    /* margin-right:790px; */
    background-color:  #58575780;
    
    border-radius: 10px;
    padding: 8px 14px;
   margin-right: 300px;
   margin-left: 0px;
   backdrop-filter: blur(3px);
   
    
}
 .circle1{
    width: 46px;
    height: 40px;
   
   background-color:#E6533C;
    border-radius: 50% 50% 50% 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 20px;
    position: relative;
   
  
} 
.play-btn{
    background: none;
    margin-left: 12px;
    display: none;
}

.circle{
   
    width: 150px;
    height: 80px;
    background: none;
    padding: 5px;
    padding-left: 8px;
}
 .circle-h{
    color: #ffffff;
    font-family: sans-serif;
    font-size: 30px;
    margin-top: 5px;
    background: none;
    font-weight:900;
}
 .circle-p{
    color: #FFFFFF80;
    font-family:sans-serif;
    font-size: 17px;
    background: none;
    font-weight: 400;
}
 .change-habit{
    max-width: 85%;
    height: 530px;
   
    margin-top: 80px;
}
 .habit{
    max-width: 620px;
    height: 120px;
  
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    
} 
.habit h1{
    color: #FFFFFF;
    font-size: 40px;


}
.habit p{
    margin-top: 10px;
    font-size: 19px;
    align-items: center;
    font-family: Inter;
    font-family:  sans-serif;
    font-weight: 400;
}
#down{
    margin-left: 85px;
}
.habit-image{
     width: 100%;
    height: 350px;
    
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-between;
   
}
.habit-image1{
   
    width: 270px;
    height: 350px;
}
.habit-image1 img{
    width: 230px;
    height: 210px;
    border-radius: 50% 50% 50% 50%;
}
.habit-image1 h2{
    color: #FFFFFF;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 600;
    margin-left: 65px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.habit-image1 p1{
    color: #FFFFFF80;
    font-size: 15px;
    margin-top: 12px;
    font-weight: 400;

}

.habit-image2{
   
    width: 270px;
    height: 350px;
}
.habit-image2 img{
    width: 230px;
    height: 210px;
    border-radius: 50% 50% 50% 50%;
}
.habit-image2 h2{
    color: #FFFFFF;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 600;
    margin-left: 90px;
    margin-top: 20px;
    margin-bottom: 15px;
    
}
.habit-image2 p1{
    color: #FFFFFF80;
    font-size: 15px;
    margin-top: 12px;
    font-weight: 400;
    margin-left: 5px;
}
#low{
    margin-left: 55px;
}
.habit-image3{
  
    width: 270px;
    height: 350px;
}
.habit-image3 img{
    width: 230px;
    height: 210px;
    border-radius: 50% 50% 50% 50%;
}
.habit-image3 h2{
    color: #FFFFFF;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 600;
    margin-left: 80px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.habit-image3 p1{
    color: #FFFFFF80;
    font-size: 15px;
    margin-top: 12px;
    font-weight: 400;
}

.habit-image4{
   
    width: 270px;
    height: 350px;
}
.habit-image4 img{
    width: 230px;
    height: 210px;
    border-radius: 50% 50% 50% 50%;
}
.habit-image4 h2{
    color: #FFFFFF;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 600;
    margin-left: 65px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.habit-image4 p1{
    color: #FFFFFF80;
    font-size: 15px;
    margin-top: 12px;
    font-weight: 400;
}

 .run-extra{
    max-width: 85%;
    height: 370px;
   
    background-color: #222222;
    border-radius: 16px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.run-content{
    width: 400px;
    height: 370px;
    
    background: none;
   margin-left: 20px;
}
.run-content h1{
    color: #FFFFFF;
    font-size: 44px;
    font-family: sans-serif;
    background: none ;
    margin: 20px;
    margin-top: 40px;
    margin-left: 30px;

}
.run-content p{
    background: none;
    font-size: 19px;
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 400;
}
.btn-1{
    margin-left: 30px;
   width: 60%;
   height: 60px;
    margin-top: 15px;
    font-size: 20px;
}
.run-image img{
    width: 410px;
    height: 330px;
    border-radius: 18px;
    object-fit: none;
    object-position: 66% 33%;
} 
.run-image{
    background: none;
   margin-right: 25px;
   margin-top: 6px;
}
.bmi-calculator{
    max-width: 40%;
    height: 110px;
   
    margin-top: 50px;
}
.bmi-calculator h1{
    color: #FFFFFF;
    font-size: 38px;
    margin-bottom: 15px;
    font-family: sans-serif;
    font-weight: 800;
}
.bmi-calculator p{
    font-size: 19px;
    font-weight: 400;
}
.bmi-content{
    max-width: 100%;
    height: 460px;
   
    background-color: #222222;
    margin-top: 50px;
}
.bmi-table-form{
    max-width: 90%;
    height: 390px;
    
    background: none;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    margin-top: 40px;

}
.bmi-table{
   
    width: 340px;
    height: 320px;
    background: none;
    margin-left: 30px;
}
.bmi-table h1{
   color: #FFFFFF;
   font-size: 29px;
   background: none;

}
table{
    border-collapse: collapse;
  
    /* color: #FFFFFF; */
    width: 100%;
    height: 220px;
    background: none;
    margin-top: 10px;
   
}
th{
    background: none;
    padding: 8px;
    color: #FFFFFF;
    border: 0.5px solid #FFFFFF80 ;
    font-size: 20px;
    font-weight: 500;
    justify-content: space-around;
   
    
}

tr{
    background: none;
}
 td{
    border: 1px solid #FFFFFF80 ;
    color: #FFFFFF80;
    background: none;
    padding-left: 25px;
    font-weight: 400;
   

}
 thead{
    background: none;
}
tbody{
    background: none;
}
.bmi-form{
    width: 570px;
    height: 390px;
  
    background: none;
}
.bmi-form-tittle{
    width: 100%;
    background: none;
}
.bmi-form h1{
    color: #FFFFFF;
    font-size: 31px;
    background: none;
    margin: 10px;
    margin-top: 30px;

}
.bmi-form p{
    color:  #FFFFFF80;
    font-size: 18px;
    background: none;
    font-weight: 400;
    margin: 18px;
    margin-left: 9px;

}
.input-box{
  
   background: none;
}
.input-box-1{
    background: none;
  }
  .input-box-2{
    background: none;
  }
input{
    width: 40%;
    height: 26px;
    background: none;
    font-size: 17px;
    color: #fffcfcd0;
    padding: 7px 20px;
    background: rgba(255, 255, 255, 0.1);
    font-weight: 400;
    border: none;
    margin-left: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    margin-top: 4px;
}

 select{
    width: 47%;
    height: 40px;
    background: rgba(255, 255, 255, 0.1);
    color: #bbbbbb80;
    padding: 7px 20px;
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 400;
    border-radius: 8px;
    border: none;
    margin-left: 10px;

 }
#select{
   width: 96.5%;
  }

.btn-2{
   width: 40%;
    font-size: 18px;
    margin-left: 10px;
}
.our-team{
    max-width: 87.5%;
    height: 760px;
    
    margin-top: 40px;
}
.team-tittle{
    max-width:60% ;
    height: 115px;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.team-tittle h1{
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 900;
   margin-bottom:10px;
}
.team-tittle p{
   color: #FFFFFF80;
   font-size: 16px;
   font-weight: 400;
  

}

.world{
    background: none;
    color: #FFFFFF80;
   font-size: 16px;
   font-weight: 400;
}
/* #meet{
    margin-left: 125px;
} */
.team-image{
    max-width: 100%;
    height: 570px;
    
    margin-top: 30px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 17px;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    padding-top: 13px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    gap: 5px;
    
}
.team-image-1{
    width: 345px;
    height: 270px;
    
    background-image: url(../images/trainer1.png);
    background-size: cover;
    border-radius: 17px;
    opacity: 0.9;
}
.team-image-1 h1{
    color: #FFFFFF;
    font-size: 20px;
    background: none;
    margin-top: 200px;
    margin-left: 10px;
}
.team-image-1 p{
   color:#FFFFFF80;
   font-size: 17px;
   background: none;
   margin-left: 10px;
   font-weight: 300;
   margin-top: 5px;
}
.team-image-2{
    width: 345px;
    height: 270px;
    
    background-image: url(../images/trainer2.png);
    background-size: cover;
    border-radius: 17px;
    opacity: 0.9;
}
.team-image-2 h1{
    color: #FFFFFF;
    font-size: 20px;
    background: none;
    margin-top: 200px;
    margin-left: 10px;
}
.team-image-2 p{
   color: #FFFFFF80;
   font-size: 17px;
   background: none;
   margin-left: 10px;
   font-weight: 300;
   margin-top: 5px;
}
.team-image-3{
    width: 345px;
    height: 270px;
    
    background-image: url(../images/trainer3.png);
    background-size: cover;
    border-radius: 17px;
    opacity: 0.9;
}
.team-image-3 h1{
    color: #FFFFFF;
    font-size: 20px;
    background: none;
    margin-top: 200px;
    margin-left: 10px;
}
.team-image-3 p{
   color: #FFFFFF80;
   font-size: 17px;
   background: none;
   margin-left: 10px;
   font-weight: 300;
   margin-top: 5px;
}
.team-image-4{
    width: 345px;
    height: 270px;
    
    background-image: url(../images/trainer4.png);
    background-size: cover;
    border-radius: 17px;
    opacity: 0.9;
}
.team-image-4 h1{
    color: #FFFFFF;
    font-size: 20px;
    background: none;
    margin-top: 200px;
    margin-left: 10px;
}
.team-image-4 p{
   color: #FFFFFF80;
   font-size: 17px;
   background: none;
   margin-left: 10px;
   font-weight: 300;
   margin-top: 5px;
}
.team-image-5{
    width: 345px;
    height: 270px;
    
    background-image: url(../images/trainer5.png);
    background-size: cover;
    border-radius: 17px;
    opacity: 0.9;
}
.team-image-5 h1{
    color: #FFFFFF;
    font-size: 20px;
    background: none;
    margin-top: 200px;
    margin-left: 10px;
}
.team-image-5 p{
   color: #FFFFFF80;
   font-size: 17px;
   background: none;
   margin-left: 10px;
   font-weight: 300;
   margin-top: 5px;
}
.team-image-6{
    width: 345px;
    height: 270px;
    
    background-image: url(../images/trainer6.png);
    background-size: cover;
    border-radius: 17px;
    /* background-blend-mode: overlay; */
    opacity: 0.9;
}
.team-image-6 h1{
    color: white;
    font-size: 20px;
    background: none;
    margin-top: 200px;
    margin-left: 10px;
    opacity: none;
    font-weight: 700;
}
.team-image-6 p{
   color:  #fffafa80;
   font-size: 17px;
   background: none;
   margin-left: 10px;
   font-weight: 300;
   margin-top: 5px;
}
footer{
    max-width:100%;
    height:430px;
    
    background: rgba(255, 255, 255, 0.1);
    margin-top: 40px;
}
.fitness{
    max-width: 85%;
    height:280px;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background: none;
}
.fitness-tittle{
   
    width: 40%;
    height: 280px;
    background: none;
    padding-left: 14px;
}
.fitness-tittle h1{
    background: none;
   color: #E6533C;
   font-size: 44px;
   font-weight: 800;
   margin-top: 35px;

}
.fitness-tittle p{
    background: none;
    color:#FFFFFF80;
    font-weight: 400;
    font-size: 14px;
    margin-top: 15px;
}
.fitness-get{
   width:30%;
   height:280px;
  
   background: none;
   padding-left: 50px;
}
.fitness-get h1{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 30px;
    background: none;
    margin-top: 40px;
    margin-right: 20px;
}
.fitness-get p{
    color: #FFFFFF80;
    background: none;
    font-size: 15px;
    font-weight: 400;
    margin-top: 15px;
}
.fitness-start{
    width:30%;
   height:280px;
  
   background: none;
   padding-left: 50px;
}
.fitness-start h1{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 30px;
    background: none;
    margin-top: 40px;
}
.fitness-start p{
    color: #FFFFFF80;
    background: none;
    font-size: 15px;
    font-weight: 400;
    margin-top: 15px;
}
hr{
    max-width: 81%;
    margin-top: 25px;
     border: 0.5px solid  #aeabab80;
    
}
#end{
   max-width: 20%;
   color: #FFFFFF80;
   margin-top: 23px;
   background: none;
   font-size: 14px;
   font-weight: 400;
}
.Benefits{
    max-width: 89%;
    height: 500px;
    
} 
.Benefits-tittle{
    max-width: 50%;
    height: 110px;
    /* border: 2px solid rgb(239, 11, 11); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Benefits-tittle h1{
    font-size: 30px;
    font-weight: 800;
    color: #FFFFFF;
    margin: 10px;
}
.Benefits-tittle p{
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF80;
}
.Benefits-content{
   max-width: 97%;
    height: 370px;
    /* border: 2px solid rgb(223, 238, 18); */
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    background-color: #222222;
    margin-top: 10px;
    border-radius: 17px;
}

.content-list{
    width: 50%;
    height: 380px;
    /* border: 2px solid rgb(124, 239, 108); */
    background: none;
    margin-bottom: 20px;
}
.content-list h1{
    font-size: 23px;
    font-weight: 800;
    color: #FFFFFF;
    background: none;
   margin-left:25px;
   margin-top: 45px;
   margin-bottom: 30px;
}
.item{
    background: none;
   /* margin-top: 70px; */
}
.item-list{
    background: none;
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF80;
    margin: 18px;
    margin-top: 24px;
}


.Benefits-image{
    width: 35%;
    height: 410px;
   background: none;
   margin-top:90px;
}
.Benefits-image img{
    width: 100%;
    height: 320px;
    border-radius: 17px;
}
@media screen and  (max-width:576px) {
    *{
        max-width:576px;
       
    }
    header{
        /* max-width: 576px; */
        max-width: 576px;
        
        height: 1150px;
        background: linear-gradient(180.00deg, rgb(32, 31, 31),rgba(144, 142, 142, 0) 100%);
    }
    .nav-links{
        display: none;
        
    }
    .brand{
        /* margin: 0; */
       margin-left: 25px;
        font-size: 30px;
        margin-top: 20px;
    }
    .btn-primary1{
        background: none;
    }
    
     .icon1{
        display: flex;
        font-size: 23px;
        margin-top: 20px;
        margin-right:30px;
    }  
    .banner-section-world{
        max-width: 100%;
        height: 1000px;
        /* height: 900px; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .banner-section{
        max-width: 100%;
        height: 1100px;
       
    }
    .section-tittle{
        font-size: 50px;
        font-weight: 800;
        margin-top: 30px;
       
       
    }
    .section-dicription{
        font-size: 15px;
       
    }
    .btn-primary, .btn-primary1{
         width: 46%;
        font-size: 15px;
        border-radius: 45px;
       
        
     }
     .banner-image{
      
      width: 100%;
      height: 640px;
      margin-top: 20px;
     }
     .part-new1{
        max-width: 50%;
     }
    .part{
        width: 80%;
    }
    .part h1{
        font-size: 20px;
    }
    .part p{
        font-size: 13px;
    }
    .part-1{
        margin-right: 0px;
    }
    .play-btn{
        display: flex;
     }
     .circle-h{
        font-size: ;
     }
     .banner-content{
       width: 93%;
       height: 400px;
       margin-top: 80px;
     }
     .play-btn{
        display: flex;
     }
     .change-habit{
        max-width: 100%;
        height: 1650px;
        margin-top: 0px;
       
     }
     .habit h1{
        font-size: 25px;
     }
     .habit p{
        font-size: 15px;
     }
     #down{
        margin-left: 65px;
     }
     .habit-image{
        max-width: 98%;
        height: 1500px;
      display: grid;
      grid-template-columns: repeat(1,1fr);
      gap: 14px;
     
      margin-top: 10px;
      }
      .habit-image1 {
        max-width: 100%;
        margin: 0 auto;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       
      }
      .habit-image1 h2{
        margin-left: 90px;
      }
      .habit-image2{
        max-width: 100%;
        margin: 0 auto;
        display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
      
      }
      .habit-image2 h2{
        margin-left: 110px;
      }
      .habit-image2 p1{
        margin-left: 20px;
      }
      .habit-image3 {
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
      }
      .habit-image3 h2{
        margin-left: 90px;
      }
      .habit-image4 {
        max-width: 100%;
        margin: 0 auto;
        display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
      
      }
      .habit-image4 h2{
        margin-left: 80px;
      }
     #low{
        margin-left: 53px;
     }
      .run-extra{
        max-width: 90%;
        height: 650px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
      }
      .run-content{
        max-width: 88%;
        height: 330px;
       
        margin-top: 2px;
        margin: 0 auto;
      }
      .run-content h1{
        font-size: 35px;
        margin-left: 8px;
      }
      .run-content p{
        font-size: 16px;
        margin-left: 8px;
      }
      .btn-1{
      width: 97%;
      margin-left: 5px;
      font-size: 16px;
      margin-bottom: 20px;
      
      }
      
      .run-image{
        margin-left: 20px;
       
      }
      .run-image img{
        width: 100%;
        height: 260px;
        object-fit: cover;
        /* object-position: 60% 20%; */
       
        
      }
      .bmi-calculator{
        max-width: 90%;
        height: 120px;
        padding: 20px;
        padding-left: 22px;
        border: 2x solid  wheat;
      }
      .bmi-calculator h1{
        font-size: 29px;
      }
      .bmi-calculator p{
        font-size: 17px;
      }
      .bmi-content{
        max-width: 100%;
        height: 820px;
        margin-top: 10px;
      }
      .bmi-table-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 96%;
        height: 780px;
        margin: 0 auto;
       
      }
      .bmi-table{
        margin-left: 19px;
        margin-top: 1px;
      }
      table{
        width: 90%;
        margin-left: 0px;
      }
      th{
        font-size: 15px;
      }
      .bmi-table h1{
        margin-top: 20px;
      }
      .bmi-form{
        max-width: 100%;
        height: 500px;
       
      }
      .bmi-form-tittle{
        width: 85%;
        background: none;
      
        margin-left: 0px;
    }
      .bmi-form h1{
        margin-left: 15px;

      }
      .bmi-form p{
        font-size: 14px;
        margin-left: 15px;
      }
      .input-box{
        width: 100%;
        margin:  auto;
        margin-left: 0px;
      }
      
      input{
       width: 125px;
        margin-left: 13px;
        font-size: 15px;
      
       margin-right: auto;
       position: relative;
      }
      .input-1{
        margin-left: 3px;
      }
      select{
        width: 165px;
        margin-left: 3px;
        font-size: 15px;
        
        margin-right: auto;
        position: relative;
      }
     #select{
        max-width:335px;
        padding-left: 13px;
        align-self: center;
        width: fixed;
        margin-left: 13px;
     }
      .btn-2{
        margin-top: 30px;
        width: 40%;
        font-size: 16px;
       align-items: center;
       
       margin-left: 15px;
      
      }
      .our-team{
        max-width:100%;
        height: 2000px;
       
        margin-top: 20px;
      }
      .team-tittle{
        max-width: 87%;
        
      }
      .team-tittle h1{
        font-size: 29px;
      }
      .team-tittle p{
        font-size: 11px;
      }
      .world{
        color: #FFFFFF80;
         font-size: 11px;
         font-weight: 400;
      }
      .team-image{
        max-width: 86%;
        height: 1820px;
        display: grid;
        grid-template-columns:repeat(1,1fr);
       gap: 17px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 10px;
      }
      .team-image-1 {
        width: 92%;
        height: 290px;
      }
      .team-image-1 h1{
        margin-top: 225px;
      }
      .team-image-2 {
        width: 95%;
        height: 290px;
      }
      .team-image-2 h1{
        margin-top: 225px;
      }
      .team-image-3{
        width: 95%;
        height: 290px;
      }
      .team-image-3 h1{
        margin-top: 225px;
      }
      .team-image-4{
        width: 95%;
        height: 290px;
      }
      .team-image-4 h1{
        margin-top: 225px;
      }
      .team-image-5 {
        width: 95%;
        height: 290px;
      }
      .team-image-5 h1{
        margin-top: 225px;
      }
      
      .team-image-6 {
        width: 95%;
        height: 290px;
      }
      .team-image-6 h1{
        margin-top: 225px;
      }
      .Benefits{
        max-width: 100%;
        height: 760px;
       
      }
      .Benefits-tittle{
        max-width: 90%;
       
      }
      .Benefits-tittle h1{
        font-size: 25px;
      }
      .Benefits-tittle p{
        font-size: 13px;
      }
      .Benefits-content{
        max-width: 89%;
        height: 620px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
      }
      .content-list{
        width: 100%;
        height: 250px;
        margin-bottom: 10px;
        margin-top: 2px;
       
      }
      .content-list h1{
        font-size: 17px;
        margin-top:10px ;
        margin-left: 15px;
      }
      .item-list{
        font-size: 15px;
        margin-left: 0px;
        margin-top: 12px;
      }
      .Benefits-image{
        width: 90%;
        height: 300px;
        margin-top: 20px;
      }
      .Benefits-image img{
        width: 100%;
        height: 290px;
        
      }
     footer{
        max-width: 100%;
        height: 810px;

     }
     .fitness{
        max-width: 96%;
        height: 700px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin-top: 20px;
     }
     .fitness-tittle{
      width:95%;
      height: 150px;
     
     }
     .fitness-get{
        width: 95%;
        padding-left: 10px;
        height:150px;
        margin-top: 0px;
       
     }
     .fitness-get h1{
        margin-top:15px ;
     }
     .fitness-start{
        width: 95%;
        padding-left: 10px;
        height:170px;

     }
     .fitness-start h1{
        margin-top:15px ;
     }
     hr{
        max-width: 90%;
     }
     #end{
        font-size: 14px;
        margin-top: 10px;
        max-width: 60%;
         margin-left: 110px; */
        margin-right: auto;
     }
 }