@import url('https://fonts.cdnfonts.com/css/miama');
 *{  
    /* max-width: 1340px; */
     margin: 0 auto;
     background-color: #000000;
}  
 body{
    font-family: sans-serif;
 }
header{
    max-width: 100%px;
    height: 720px;
    /* border: 2px solid red; */
    /* background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%); */
    background: linear-gradient(180.00deg, rgb(32, 31, 31),rgba(144, 142, 142, 0) 100%);
    
}
.color-1{
    color: #E6533C;
}
.color-2{
    color: #FFFFFF;
}
.color-3{
      color: #FFFFFF80;
}
.display-flex{
    display: flex;
}

 .brand{
    font-weight: 800;
    font-family:  sans-serif;
    font-size: 30px;
    background: none;
    margin-left:80px;
    margin-top: 10px;
    
} 
i{
    background: none;
}
.nav-item{
    list-style: none;
    margin-right: 40px;
    background: none;
    
   
}
.nav-links{
    background: none;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 38px;
     padding: 10px; 
    /* margin-right: 10px; */
    margin-left: 450px;
    margin-top: 30px;
    margin-right: 90px;
   font-weight: 400;
    
   
}
#nav-1{
    background-color: #E6533C;
    border-radius: 40px;
    padding: 8px 20px 8px 22px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500px;
    font-size: 20px;
    background: none;
    
}

 .icon1{
    font-size: 40px;
  
    align-items: center;
    color: #e4e3e3;
    margin-right: 35px;
     display: none; 
     background: none;
    
} 
.navbar{
    justify-content: space-between;
    display: flex;
    align-items: center;
  
   background: none;
    
}
.banner-section{
    background: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
}
.banner-content{
    background: none;
    /* border: 2px solid white; */
     /* margin-top: 40px;  */
     margin-bottom: 350px;
}
.section-tittle{
    font-weight: 800;
    font-family: sans-serif;
    color: #FFFFFF;
    font-size: 60px;
    background: none;
    margin-bottom: 20px;
    
    
}

.section-dicription{
    background: none;
   margin-top: 10px;
   margin-bottom: 16px;
   font-size: 22px;
   font-family: sans-serif;
   font-weight: 400;
}
b{
    background: none;
}

#mid{
    font-family:'Miama', sans-serif;
    font-weight: 400;
    font-size: 90px;
    background: none;
   
}
.btn-primary{
    border-radius: 35px;
    background-color: #E6533C;
    padding: 16px 55px;
    color: white;
    border: none;
    margin-top: 10px;
    font-size: 22px;
    margin-bottom: 30px;
}
.btn-primary1{
    border-radius: 35px;
    border: 2px solid rgb(232, 232, 232);
    padding: 16px 55px;
    color: white;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 30px;
}

.banner-image{
    background: none;
    /* border: 2px solid #FFFFFF; */
    background-image: url('../images/Images\ 2.png');
    background-size:cover ;
    width: 380px;
    height: 640px;
    /* border: 0.00001px solid rgb(53, 52, 52); */
    /* margin-top: 10px; */
     margin-bottom:100%;
     margin-right: 30px;
   
}

.part{
    width:160px;
    height: 80px;
    /* border: 2px solid white; */
    background-color: #6d676780;
     margin-top: 20px;  
   margin-left: 250px;
   padding-left: 8px;
   /* margin-bottom: 10px; */
   border-radius: 10px;
   padding:8px 16px;
   backdrop-filter: blur(3px);
   top: 40%;
}
.part h2{
    color: #ffffff;
    font-family: sans-serif;
    font-size: 40px;
    background: none;
    font-weight: 900;
    /* padding-left: 10px; */
    

}
.part p{
    color: #FFFFFF80;
    font-family: sans-serif;
    font-size: 14px;
    background:none;
    font-weight: 400;
}

.part-1{
    width: 180px;
    height: 80px;
    /* border: 2px solid white; */
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: none;
    margin-top: 200px;
    /* margin-right:790px; */
    background-color: #6e696980;
    
    border-radius: 10px;
    padding: 8px 14px;
   margin-right: 300px;
   margin-left: 0px;
   backdrop-filter: blur(3px);
   
    
}
 .circle1{
    width: 44px;
    height: 40px;
   
   background-color:#E6533C;
    border-radius: 50% 50% 50% 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 20px;
    position: relative;
   
  
} 
.play-btn{
    background: none;
    margin-left: 12px;
    display: none;
}
/* .circle1-btn{
    width: 15px;
    height: 15px;
    transform: rotate(90.00deg);
    background-color: #ffffff;
} */
.circle{
   
    width: 150px;
    height: 80px;
    background: none;
    padding: 5px;
    padding-left: 8px;
}
 .circle-h{
    color: #ffffff;
    font-family: sans-serif;
    font-size: 30px;
    margin-top: 5px;
    background: none;
    font-weight:900;
}
 .circle-p{
    color: #FFFFFF80;
    font-family:sans-serif;
    font-size: 17px;
    background: none;
    font-weight: 400;
}
 .change-habit{
    max-width: 85%;
    height: 530px;
   
    margin-top: 80px;
}
 .habit{
    max-width: 620px;
    height: 120px;
  
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    
} 
.habit h1{
    color: #FFFFFF;
    font-size: 40px;


}
.habit p{
    margin-top: 10px;
    font-size: 19px;
    align-items: center;
    font-family: Inter;
    font-family:  sans-serif;
    font-weight: 400;
}
#down{
    margin-left: 90px;
}
.habit-image{
     width: 100%;
    height: 350px;
    
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-between;
   
}
.habit-image1{
   
    width: 270px;
    height: 350px;
}
.habit-image1 img{
    width: 230px;
    height: 210px;
    border-radius: 50% 50% 50% 50%;
}
.habit-image1 h2{
    color: #FFFFFF;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 600;
    margin-left: 60px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.habit-image1 p1{
    color: #FFFFFF80;
    font-size: 15px;
    margin-top: 12px;
    font-weight: 400;

}
#low{
    margin-left: 49px;
}
.habit-image2{
   
    width: 270px;
    height: 350px;
}
.habit-image2 img{
    width: 230px;
    height: 210px;
    border-radius: 50% 50% 50% 50%;
}
.habit-image2 h2{
    color: #FFFFFF;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 600;
    margin-left: 90px;
    margin-top: 20px;
    margin-bottom: 15px;
    
}
.habit-image2 p1{
    color: #FFFFFF80;
    font-size: 15px;
    margin-top: 12px;
    font-weight: 400;
}
#low{
    margin-left: 49px;
}
.habit-image3{
  
    width: 270px;
    height: 350px;
}
.habit-image3 img{
    width: 230px;
    height: 210px;
    border-radius: 50% 50% 50% 50%;
}
.habit-image3 h2{
    color: #FFFFFF;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 600;
    margin-left: 80px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.habit-image3 p1{
    color: #FFFFFF80;
    font-size: 15px;
    margin-top: 12px;
    font-weight: 400;
}
#low{
    margin-left: 49px;
}
.habit-image4{
   
    width: 270px;
    height: 350px;
}
.habit-image4 img{
    width: 230px;
    height: 210px;
    border-radius: 50% 50% 50% 50%;
}
.habit-image4 h2{
    color: #FFFFFF;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 600;
    margin-left: 65px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.habit-image4 p1{
    color: #FFFFFF80;
    font-size: 15px;
    margin-top: 12px;
    font-weight: 400;
}
#low{
    margin-left: 49px;
} 
 .run-extra{
    max-width: 85%;
    height: 370px;
   
    background-color: #222222;
    border-radius: 16px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.run-content{
    width: 500px;
    height: 370px;
    
    background: none;
   margin-left: 20px;
}
.run-content h1{
    color: #FFFFFF;
    font-size: 44px;
    font-family: sans-serif;
    background: none ;
    margin: 20px;
    margin-top: 40px;
    margin-left: 30px;

}
.run-content p{
    background: none;
    font-size: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 400;
}
.btn-1{
    margin-left: 30px;
    padding: 15px 72px;
    margin-top: 15px;
    font-size: 17px;
}
.run-image img{
    width: 410px;
    height: 330px;
    border-radius: 18px;
    object-fit: none;
    object-position: 66% 33%;
} 
.run-image{
    background: none;
   margin-right: 25px;
   margin-top: 6px;
}
.bmi-calculator{
    max-width: 40%;
    height: 110px;
   
    margin-top: 50px;
}
.bmi-calculator h1{
    color: #FFFFFF;
    font-size: 38px;
    margin-bottom: 15px;
    font-family: sans-serif;
    font-weight: 800;
}
.bmi-calculator p{
    font-size: 19px;
    font-weight: 400;
}
.bmi-content{
    max-width: 100%;
    height: 460px;
   
    background-color: #222222;
    margin-top: 50px;
}
.bmi-table-form{
    max-width: 90%;
    height: 390px;
   
    background: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;

}
.bmi-table{
   
    width: 340px;
    height: 320px;
    background: none;
}
.bmi-table h1{
   color: #FFFFFF;
   font-size: 29px;
   background: none;

}
table{
    border-collapse: collapse;
  
    /* color: #FFFFFF; */
    width: 335px;
    height: 220px;
    background: none;
    margin-top: 10px;
   
}
th{
    background: none;
    padding: 8px;
    color: #FFFFFF;
    border: 0.5px solid #FFFFFF80 ;
    font-size: 20px;
    font-weight: 500;
    justify-content: space-around;
   
    
}

tr{
    background: none;
}
 td{
    border: 1px solid #FFFFFF80 ;
    color: #FFFFFF80;
    background: none;
    padding-left: 30px;
    font-weight: 400;
   

}
 thead{
    background: none;
}
tbody{
    background: none;
}
.bmi-form{
    width: 570px;
    height: 390px;
   
    background: none;
}
.bmi-form h1{
    color: #FFFFFF;
    font-size: 31px;
    background: none;
    margin: 10px;
    margin-top: 30px;

}
.bmi-form p{
    color:  #FFFFFF80;
    font-size: 18px;
    background: none;
    font-weight: 400;
    margin: 18px;

}
input{
    width: 210px;
    height: 26px;
    background: none;
    font-size: 17px;
    color: #fffafa80;
    padding: 7px 20px;
    background: rgba(255, 255, 255, 0.1);
    font-weight: 400;
    border: none;
    margin-left: 10px;
    border-radius: 7px;
    margin-bottom: 10px;
   
    
}
.select-box{
    background: none;
}
.select-box1{
    background: none;
}
.select-box1::after{
    content: '';
    position: absolute;
    z-index: 1;
    width: 8px;
    height: 8px;
    border-right: 2px solid #fffafa80;
    border-bottom: 2px solid #fffafa80;
    right:190px;
    transform: rotate(45deg);
    margin-top: 10px;
}
.select-box::after{
    content: '';
    position: absolute;
    z-index: 1;
    width: 8px;
    height: 8px;
    border-right: 2px solid #fffafa80;
    border-bottom: 2px solid #fffafa80;
    right:190px;
    transform: rotate(45deg);
    margin-top: 10px;
    color: #fffafa80;
}
#fact{
    width: 475px;
    height: 26px;
}
.btn-2{
    padding: 12px 60px 12px 60px;
    font-size: 18px;
    margin-left: 10px;
}
.our-team{
    max-width: 87.5%;
    height: 760px;
    
    margin-top: 40px;
}
.team-tittle{
    max-width:60% ;
    height: 115px;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.team-tittle h1{
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 900;
   
}
.team-tittle p{
   color: #FFFFFF80;
   font-size: 16px;
   font-weight: 400;
  

}

.world{
    background: none;
    color: #FFFFFF80;
   font-size: 16px;
   font-weight: 400;
}
/* #meet{
    margin-left: 125px;
} */
.team-image{
    max-width: 100%;
    height: 570px;
    
    margin-top: 40px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 17px;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    padding-top: 13px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    gap: 5px;
    
}
.team-image-1{
    width: 345px;
    height: 270px;
    
    background-image: url(../images/trainer1.png);
    background-size: cover;
    border-radius: 17px;
    opacity: 0.9;
}
.team-image-1 h1{
    color: #FFFFFF;
    font-size: 20px;
    background: none;
    margin-top: 200px;
    margin-left: 10px;
}
.team-image-1 p{
   color:#FFFFFF80;
   font-size: 17px;
   background: none;
   margin-left: 10px;
   font-weight: 300;
   margin-top: 5px;
}
.team-image-2{
    width: 345px;
    height: 270px;
    
    background-image: url(../images/trainer2.png);
    background-size: cover;
    border-radius: 17px;
    opacity: 0.9;
}
.team-image-2 h1{
    color: #FFFFFF;
    font-size: 20px;
    background: none;
    margin-top: 200px;
    margin-left: 10px;
}
.team-image-2 p{
   color: #FFFFFF80;
   font-size: 17px;
   background: none;
   margin-left: 10px;
   font-weight: 300;
   margin-top: 5px;
}
.team-image-3{
    width: 345px;
    height: 270px;
    
    background-image: url(../images/trainer3.png);
    background-size: cover;
    border-radius: 17px;
    opacity: 0.9;
}
.team-image-3 h1{
    color: #FFFFFF;
    font-size: 20px;
    background: none;
    margin-top: 200px;
    margin-left: 10px;
}
.team-image-3 p{
   color: #FFFFFF80;
   font-size: 17px;
   background: none;
   margin-left: 10px;
   font-weight: 300;
   margin-top: 5px;
}
.team-image-4{
    width: 345px;
    height: 270px;
    
    background-image: url(../images/trainer4.png);
    background-size: cover;
    border-radius: 17px;
    opacity: 0.9;
}
.team-image-4 h1{
    color: #FFFFFF;
    font-size: 20px;
    background: none;
    margin-top: 200px;
    margin-left: 10px;
}
.team-image-4 p{
   color: #FFFFFF80;
   font-size: 17px;
   background: none;
   margin-left: 10px;
   font-weight: 300;
   margin-top: 5px;
}
.team-image-5{
    width: 345px;
    height: 270px;
    
    background-image: url(../images/trainer5.png);
    background-size: cover;
    border-radius: 17px;
    opacity: 0.9;
}
.team-image-5 h1{
    color: #FFFFFF;
    font-size: 20px;
    background: none;
    margin-top: 200px;
    margin-left: 10px;
}
.team-image-5 p{
   color: #FFFFFF80;
   font-size: 17px;
   background: none;
   margin-left: 10px;
   font-weight: 300;
   margin-top: 5px;
}
.team-image-6{
    width: 345px;
    height: 270px;
    
    background-image: url(../images/trainer6.png);
    background-size: cover;
    border-radius: 17px;
    /* background-blend-mode: overlay; */
    opacity: 0.9;
}
.team-image-6 h1{
    color: white;
    font-size: 20px;
    background: none;
    margin-top: 200px;
    margin-left: 10px;
    opacity: none;
    font-weight: 700;
}
.team-image-6 p{
   color:  #fffafa80;
   font-size: 17px;
   background: none;
   margin-left: 10px;
   font-weight: 300;
   margin-top: 5px;
}
footer{
    max-width:100%;
    height:430px;
    
    background: rgba(255, 255, 255, 0.1);
    margin-top: 40px;
}
.fitness{
    max-width: 85%;
    height:280px;
    
    /* display: grid;
    grid-template-columns:repeat(3,1fr); */
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background: none;
}
.fitness-tittle{
   
    width: 40%;
    height: 280px;
    background: none;
    padding-left: 14px;
}
.fitness-tittle h1{
    background: none;
   color: #E6533C;
   font-size: 44px;
   font-weight: 800;
   margin-top: 35px;

}
.fitness-tittle p{
    background: none;
    color:#FFFFFF80;
    font-weight: 400;
    font-size: 14px;
    margin-top: 15px;
}
.fitness-get{
   width:30%;
   height:280px;
  
   background: none;
   padding-left: 50px;
 
  
  
   
}
.fitness-get h1{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 30px;
    background: none;
    margin-top: 40px;
    margin-right: 20px;
}
.fitness-get p{
    color: #FFFFFF80;
    background: none;
    font-size: 15px;
    font-weight: 400;
    margin-top: 15px;
}
.fitness-start{
    width:30%;
   height:280px;
  
   background: none;
   padding-left: 50px;
}
.fitness-start h1{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 30px;
    background: none;
    margin-top: 40px;
}
.fitness-start p{
    color: #FFFFFF80;
    background: none;
    font-size: 15px;
    font-weight: 400;
    margin-top: 15px;
}
hr{
    max-width: 81%;
    margin-top: 25px;
     border: 0.5px solid  #aeabab80;
    
}
#end{
   max-width: 20%;
   color: #FFFFFF80;
   margin-top: 23px;
   background: none;
   font-size: 15px;
   font-weight: 400;
}
.Benefits{
    max-width: 89%;
    height: 500px;
    
} 
.Benefits-tittle{
    max-width: 50%;
    height: 110px;
    /* border: 2px solid rgb(239, 11, 11); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Benefits-tittle h1{
    font-size: 30px;
    font-weight: 800;
    color: #FFFFFF;
    margin: 10px;
}
.Benefits-tittle p{
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF80;
}
.Benefits-content{
   max-width: 97%;
    height: 370px;
    /* border: 2px solid rgb(223, 238, 18); */
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    background-color: #222222;
    margin-top: 10px;
    border-radius: 17px;
}

.content-list{
    width: 50%;
    height: 380px;
    /* border: 2px solid rgb(124, 239, 108); */
    background: none;
    margin-bottom: 20px;
}
.content-list h1{
    font-size: 23px;
    font-weight: 800;
    color: #FFFFFF;
    background: none;
   margin-left:25px;
   margin-top: 45px;
   margin-bottom: 30px;
}
.item{
    background: none;
   /* margin-top: 70px; */
}
.item-list{
    background: none;
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF80;
    margin: 18px;
    margin-top: 24px;
}


.Benefits-image{
    width: 35%;
    height: 410px;
   background: none;
   margin-top:90px;
}
.Benefits-image img{
    width: 100%;
    height: 320px;
    border-radius: 17px;
}
@media screen and (max-width:576px) {
    header{
        max-width: 576px;
        height: 1130px;
    }
    .nav-links{
        display: none;
        
    }
    .brand{
        margin: 0;
       margin-left: 45px;
        font-size: 30px;
        margin-top: 20px;
    }
    .btn-primary1{
        background: none;
    }
    .navbar, .banner-section{
        max-width: 576px;
    }
     .icon1{
        display: flex;
        font-size: 27px;
        margin-top: 20px;
    }  
    .banner-section{
        flex-direction: column;
    }
    .section-tittle{
        font-size: 55px;
        font-weight: 700;
        margin-top: 50px;
        /* margin-left: 20px; */
    }
    .btn-primary, .btn-primary1{
        
        /* font-size: 20px; */
        max-width: 240px;
        font-size: 18px;
        border-radius: 45px;
        
     }
     .banner-image{
        margin-bottom: 900px;
       height: 580px;
     }
      /* .part{
       margin-bottom: 100px;
     }
     .part1{
        top: 20px;
     }  */
     .banner-content{
        margin-bottom: 0px;
     }
     .play-btn{
        display: flex;
     }
     .change-habit{
        max-width: 576px;
        height: 1650px;
        margin-top: 10px;
     }
     .habit-image{
        width: 100%;
      display: grid;
      grid-template-columns: repeat(1,1fr);
      gap: 14px;
      }
      .run-extra{
        max-width: 45%px;
        height: 750px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .run-content{
        max-width: 576px;
      }
      .btn-1{
       padding: 16px 80px ;
      
      }
      .run-content p{
        font-size: 19px;
      }
      .run-image{
        margin-left: 20px;
      }
      .run-image img{
        width: 390px;
        height: 300px;

        object-position: none;
      }
      .bmi-calculator{
        max-width: 90%;
        height: 120px;
        padding: 20px;
        padding-left: 40px;
      }
      .bmi-calculator p{
        font-size: 20px;
      }
      .bmi-content{
        width: 90%%;
        height: 800px;
      }
      .bmi-table-form{
        display: flex;
        flex-direction: column;
        width: 576px;
        height: 470px;

      }
      .bmi-table{
        margin-left: 5px;
      }
      .bmi-table h1{
        margin-top: 20px;
      }
      .bmi-form{
        width: 525px;
        margin-top: 20px;
        align-items: center;
        margin-right: 40px;
      }
      .bmi-form p{
        font-size: 17px;
        margin-left: 10px;
      }
      input{
        width: 200px;
      }
      .select-box::after{
          
          right: 55px;
      }
      .select-box1::after{
        right: 55px;
        margin-top: 12px;
      }
      #fact{
        width: 453.5px;
      }
      .our-team{
        max-width:145%;
        height: 1950px;

      }
      .team-tittle{
        max-width: 70%;
      }
      .team-tittle h1{
        font-size: 29px;
      }
      .team-tittle p{
        font-size: 13px;
        margin-top:10px;
       
        
      }
      .world{
        color: #FFFFFF80;
         font-size: 13px;
         font-weight: 400;
      }
      /* span{
         margin-left: 1px;
        
      } */
      
      .team-image{
        max-width: 70%;
        height: 1740px;
        display: grid;
        grid-template-columns:repeat(1,1fr);
        gap:24px;
        padding-top: 20px;
        padding-bottom: 20px;
      }
      .Benefits{
        max-width: 89%;
        height: 800px;
      }
      .Benefits-tittle{
        max-width: 80%;
      }
      .Benefits-tittle h1{
        font-size: 25px;
      }
      .Benefits-tittle p{
        font-size: 16px;
      }
      .Benefits-content{
        max-width: 91%;
        height: 670px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .content-list{
        width: 95%;
        height: 300px;
        margin-bottom: 10px;
        margin-top: 20px;
      }
      .content-list h1{
        font-size: 20px;
        margin-top:10px ;
      }
      .item-list{
        font-size: 17px;
      }
      .Benefits-image{
        width: 90%;
        height: 300px;
        margin-top: 2px;
      }
      .Benefits-image img{
        width: 100%;
        height: 300px;
        
      }
     footer{
        max-width: 100%;
        height: 810px;

     }
     .fitness{
        max-width: 90%;
        height: 700px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin-top: 20px;
     }
     .fitness-tittle{
      width:85%;
      height: 210px;
     }
     .fitness-get{
        width: 85%;
        padding-left: 20px;
        height:210px;
        
     }
     .fitness-get h1{
        margin-top:15px ;
     }
     .fitness-start{
        width: 85%;
        padding-left: 20px;
        height:210px;

     }
     .fitness-start h1{
        margin-top:15px ;
     }
     #end{
        font-size: 12px;
        margin-top: 10px;
        max-width: 40%;
        margin-left: 180px;
     }
 }